<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Productos</title>
</head>

<body>
    <div class="container">
        <h1>CRUD Productos</h1>

        <div class="container">
            <!-- Formulario para filtros -->
            <h2>Filtros</h2>
            <form id="filtersForm">
                <label for="limit">Límite:</label>
                <input type="number" id="limit" name="limit" min="1" value="10">
                <label for="page">Página:</label>
                <input type="number" id="page" name="page" min="1" value="1">
                <label for="sort">Ordenar:</label>
                <select id="sort" name="sort">
                    <option value="desc"></option>
                    <option value="asc">Ascendente</option>
                    <option value="desc">Descendente</option>
                </select>
                <button type="submit">Aplicar Filtros</button>
            </form>
            <br>
            <form id="IDB">
                <label for="bID">Buscar ID:</label>
                <input type="text" id="bID" name="bID" placeholder="id producto">
                <button type="submit">Buscar</button>
            </form>
            <!-- Lista de Productos con botón de eliminar -->
            <h2 class="toggle-form" data-target="productListWithDelete">Lista de Productos a Eliminar</h2>
            <div id="productListWithDelete" class="product-list" style="display: none;"></div>
        </div>
        <div>
            <h2 class="toggle-form" data-target="cartsLists">Carrito</h2>
            <div id="cartsList" class="product-list" style="display: none;"></div>
        </div>
        <!-- Formulario para Cargar Producto -->
        <h2 class="toggle-form" data-target="formCP">Cargar Producto</h2>
        <form action="" id="formCP" class="form" method="post">
            <input type="text" id="titleCP" class="input" placeholder="title" name="title">
            <input type="text" id="descriptionCP" class="input" placeholder="description" name="description">
            <input type="text" id="codeCP" class="input" placeholder="code" name="code">
            <input type="text" id="priceCP" class="input" placeholder="price" name="price">
            <input type="text" id="stockCP" class="input" placeholder="stock" name="stock">
            <input type="text" id="categoryCP" class="input" placeholder="category" name="category">
            <button type="submit" id="submitCP" class="button">Registrar</button>
        </form>

        <!-- Formulario para Modificar Producto -->
        <h2 class="toggle-form" data-target="formMP">Modificar Producto</h2>
        <form action="" id="formMP" class="form" method="put">
            <input type="text" id="idMP" class="input" placeholder="id" name="id">
            <input type="text" id="titleMP" class="input" placeholder="title" name="title">
            <input type="text" id="descriptionMP" class="input" placeholder="description" name="description">
            <input type="text" id="codeMP" class="input" placeholder="code" name="code">
            <input type="text" id="priceMP" class="input" placeholder="price" name="price">
            <input type="text" id="statusMP" class="input" placeholder="status" name="status">
            <input type="text" id="stockMP" class="input" placeholder="stock" name="stock">
            <input type="text" id="categoryMP" class="input" placeholder="category" name="category">
            <button type="submit" id="submitMP" class="button">Registrar</button>
        </form>

        <p id="messageLogs" class="message-logs"></p>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modalMessage"></p>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <!-- Enlace a tu archivo CSS en las vistas home y realTimeProducts -->
    <link rel="stylesheet" href="/css/index.css">