<body>
    <!-- Lista de Productos con botón de eliminar -->
    <h2 class="toggle-form" data-target="productListWithDelete">Lista de Productos a Eliminar</h2>
    <div id="productListWithDelete" class="product-list" style="display: none;"></div>
</body>
<script>


    
</script>
<script src="js/products.js"></script>
<link rel="stylesheet" href="/css/index.css">